.mypy_cache
.pytest_cache
/build/
/governance_data_quality_processes.egg-info/
/dist/
/curated/
/raw/
/spark-warehouse/
/venv/
/tests/data/actual/
/tests/reports/
.coverage
.env
.idea
.python-version
execution_times.csv
mypy_errors_junit.xml
pylint_report.txt
__pycache__
/governance_data_quality_processes/configs/legacy
/entrypoints_testing
/docs/source
/scripts/misc/bw_ohd_to_dm
/metadata/
.vscode/